.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, whitesmoke, rgb(195, 195, 195));
}

.login-container form {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-container h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
    color: teal;
    font-size: 1.5rem;
    text-align: center;

}

.login-container input { 
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;

}

.login-container button {
    padding:  0.75rem;
    background-color: teal;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;

}

.login-container button:hover {
    background-color: #006666;
}